// Базовые цвета

$textColor: #000000;
$whiteBase: #FCFCFC;
$whiteBaseTransparent: rgba(252, 252, 252, 0.8);

// Главный цвет
$primaryColor: #DF6F26;
$primaryColorHover: #FB7C2A;
$primaryColorPress: #CB5C14;

// Вспомогательные цвета
$secondColor: #A9AFD8;
$secondColor-hover: #B9C2FF;
$secondColor-press: #878EC1;

$thirdColor: #BFABE0;
