@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

@import 'base/mixins';
@import 'base/variables';


// Reset
* {
    padding: 0;
    margin: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: $textColor;
}

a {
    text-decoration: none;
    color: $textColor;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

input[type=checkbox] {
    width: 15px;
    height: 15px;
    border: 2px solid $secondColor;
    color: $secondColor;
}


// Multiclass
.container {
    width: 100%;
    max-width: 1216px;
    margin: 0 auto;
}

.title-fz38 { //h1
    font-size: 38px;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
}

.title-fz28 { //h2
    font-size: 28px;
    font-family: 'Dosis', sans-serif;
}

.title-fz24 { //h3
    font-size: 24px;
    font-family: 'Dosis', sans-serif;
}

.title-fz20 { //h4
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
}

.title-fz16 { //h5
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
}

.btn {
    display: block;
    box-sizing: border-box;
    padding: 15px 40px;
    background-color: $primaryColor;
    border: none;
    border-radius: 5px;
    color: $whiteBase;
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    transition: all .3s;

    &:hover {
        background-color: $primaryColorHover;
    }
    &:active {
        background-color: $primaryColorPress;
    }
}

@media (max-width: 769px) {
    .container {
        box-sizing: border-box;
        padding: 0 20px;
    }
}

@media (max-width: 426px) {
    .title-fz38 {
        font-size: 34px;
    }
}


@import 'blocks/header';
@import 'blocks/footer';
@import 'blocks/breadcrumbs';
@import 'blocks/overlay';

// Главная
@import 'blocks/promo';
@import 'blocks/ourpets';
@import 'blocks/lastevent';

// Наши питомцы
@import 'blocks/pets';

// Страница питомца
@import 'blocks/pets-info';
@import 'blocks/gallery';

// Волонтёрство
@import 'blocks/who';
@import 'blocks/volonteer';

// Мероприятия
@import 'blocks/events';

// Страница мероприятия
@import 'blocks/events-info';

// Нашли дом
@import 'blocks/foundhome';

// О нас
@import 'blocks/about';