.about {
    &__item {
        margin-top: 40px;
    }
    &__text {
        margin-top: 10px;
    }
    &__wrapper {
        margin-top: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        &:nth-child(odd) {
            flex-direction: row-reverse;
        }
    }
    &__line {
        width: 100%;
        height: 2px;
        background-color: $primaryColor;
    }
    &__img {
        width: 25px;
        height: 25px;
        object-fit: fill;
    }
}