.breadcrumbs {
    padding-top: 140px;
    &__list {
        display: flex;
        gap: 5px;
    }
    &__link {
        font-weight: normal;
        &::after {
            content: '/';
            margin-left: 2px;
        }
        &:last-child {
            font-weight: 700;
            &::after {
                content: '';
            }
        }
    }
}