.ourpets {
    padding-top: 120px;
    position: relative;
    .container {
        position: relative;
    }
    &__title {
        text-align: center;
    }
    &__wrapper {
        position: absolute;
        top: 175px;
        left: 50%;
        transform: translateX(-50%);
        padding-right: 50px;
        width: 1350px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
    }
    &__arrow {
        cursor: pointer;
    }
    &__paw-outline {
        position: absolute;
    }
    &__paw-fill {
        position: absolute;
        opacity: 0;
        transition: all .3s;
        &:hover {
            opacity: 1;
        }
    }


    &__slider {
        overflow: hidden;
        height: 289px;
        margin: 0 auto;
        margin-top: 20px;
        position: relative;
    }
    &__list {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        gap: 20px;
        transition: all .5s;
    }
    &__card {
        cursor: pointer;
        min-width: 289px;
        height: 289px;
        object-fit: cover;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        transition: all .3s;
        &:hover .ourpets__gradient{
            bottom: 0;
        }
    }
    &__img {
        object-fit:cover;
        width: 289px;
        height: 289px;
    }
    &__gradient {
        box-sizing: border-box;
        position: absolute;
        padding: 33px 20px 20px;
        width: 289px;
        height: 106px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 5.51%, rgba(0, 0, 0, 0.7) 63.74%);
        bottom: -106px;
        border-radius: 5px;
        transition: all .3s;
    }
    &__subtitle, &__text {
        color: $whiteBase;
    }
}

@media (max-width: 769px) {
    .ourpets {
        &__wrapper {
            width: 90%;
        }
        &__slider {
            width: 598px;
        }
    }
}

@media (max-width: 426px) {
    .ourpets {
        &__wrapper {
            width: 85%;
        }
        &__paw-fill {
            &:hover {
                opacity: 0;
            }
        }
        &__slider {
            width: 289px;
        }
    }
}